agente_whatsapp.json
{
  "name": "Agente Whatsapp",
  "nodes": [
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "body.data.message.base64",
        "options": {
          "mimeType": "audio/ogg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -3600,
        0
      ],
      "id": "b009470c-c535-4841-8c90-bf75a93bcd05",
      "name": "Converter Base64 para Áudio"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1738190f-07dc-4294-9d26-63c1307097ed",
              "name": "mensagemCliente",
              "value": "={{ $if($('OpenAI - Transcrever Áudio').isExecuted, $('OpenAI - Transcrever Áudio').item.json.text, $if($json.content, $json.content, $('Webhook - Receber Mensagem').item.json.body.data.message.conversation)) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3520,
        224
      ],
      "id": "7211b0b5-af40-4e22-9e12-fa7dc3c893d2",
      "name": "Set - Mensagem do Cliente"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -3856,
        0
      ],
      "id": "60f8b5fe-1080-4125-819e-abe6bb22bbda",
      "name": "OpenAI - Transcrever Áudio",
      "credentials": {
        "openAiApi": {
          "id": "MU6adeGic3RPMvdM",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook - Receber Mensagem').item.json.body.data.messageType }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "947ac0f6-127c-44d9-a2f8-3730292a51b2"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6ec38ced-b791-4a21-8d3e-929aa2470686",
                    "leftValue": "={{ $('Webhook - Receber Mensagem').item.json.body.data.messageType }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "64992b8c-1aee-4bb2-9c8e-10871decb39f",
                    "leftValue": "={{ $('Webhook - Receber Mensagem').item.json.body.data.messageType }}",
                    "rightValue": "imageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Imagem"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -4688,
        208
      ],
      "id": "7b3aaa9f-1442-4575-abc5-e22a9474d0d6",
      "name": "Switch - Tipo de Mídia"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "11907b07-083e-4616-a78a-7cc765a64e35",
              "name": "body.data.message.base64",
              "value": "={{ $json.data.base64 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4192,
        224
      ],
      "id": "c77c0acc-d547-466d-961f-7d91c50d9e9a",
      "name": "Set - Dados da Mídia"
    },
    {
      "parameters": {
        "model": "gpt-5.1",
        "options": {}
      },
      "id": "63e0f8ad-7a9b-4ece-bba4-99a02a23fe5b",
      "name": "OpenAI - Modelo LLM",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -784,
        272
      ],
      "credentials": {
        "openAiApi": {
          "id": "MU6adeGic3RPMvdM",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook - Receber Mensagem').item.json.body.data.key.remoteJid }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        -688,
        416
      ],
      "id": "4b01b224-13eb-40fe-a37f-2c2b6760b9cc",
      "name": "Redis - Memória do Chat",
      "credentials": {
        "redis": {
          "id": "trFJWRaDpUKn5nf8",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "get-media-base64",
        "instanceName": "={{ $('Extrair Metadata da Mensagem').item.json.msgIntance }}",
        "messageId": "={{ $('Extrair Metadata da Mensagem').item.json.msgId }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -4384,
        224
      ],
      "id": "64f83548-77d3-4209-8b21-ceec51288792",
      "name": "Evolution - Obter Mídia Base64",
      "credentials": {
        "evolutionApi": {
          "id": "oCZwvvYltMxJIzmA",
          "name": "Evolution API"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "key": "=msgLock:{{ $('Webhook - Receber Mensagem').item.json.body.data.key.remoteJid }}",
        "keyType": "string",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -3328,
        224
      ],
      "id": "0e4422f7-dad7-4aa8-a42a-30bd8f70f5f4",
      "name": "Redis - Verificar Lock",
      "credentials": {
        "redis": {
          "id": "trFJWRaDpUKn5nf8",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "afb8b2a2-b9a4-490c-a148-dab96077eb1b",
              "leftValue": "={{ $json.propertyName }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3152,
        224
      ],
      "id": "a3c243c1-5858-4792-9f77-bc6f0be6f6bd",
      "name": "IF - Sem Lock Ativo"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=msgTemp:{{ $('Webhook - Receber Mensagem').item.json.body.data.key.remoteJid }}",
        "value": "={{ $('Set - Mensagem do Cliente').item.json.mensagemCliente }}",
        "keyType": "sets"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2720,
        32
      ],
      "id": "26c2361a-3df6-461b-a2f8-3514b0e34dab",
      "name": "Redis - Armazenar Mensagem",
      "credentials": {
        "redis": {
          "id": "trFJWRaDpUKn5nf8",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "key": "=msgTemp:{{ $('Webhook - Receber Mensagem').item.json.body.data.key.remoteJid }}",
        "keyType": "sets",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1504,
        16
      ],
      "id": "fbe5d2d1-bfd3-42fa-af5c-3ced73127753",
      "name": "Redis - Resgatar Mensagens",
      "credentials": {
        "redis": {
          "id": "trFJWRaDpUKn5nf8",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = items[0].json;\n\n// Une as mensagens com \". \"\nconst mensagens = input.propertyName.join('[quebrar]');\n\n// Monta o prompt desejado\nconst prompt = `${mensagens}`;\n\n// Retorna o resultado\nreturn [{ json: { prompt } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1328,
        16
      ],
      "id": "916b1f71-b87d-4864-a637-9f60c2030bbe",
      "name": "Code - Concatenar Mensagens"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=msgLock:{{ $('Webhook - Receber Mensagem').item.json.body.data.key.remoteJid }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1136,
        16
      ],
      "id": "88100dbf-74fe-4395-bac5-e5e63b030561",
      "name": "Redis - Remover Lock",
      "credentials": {
        "redis": {
          "id": "trFJWRaDpUKn5nf8",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=msgLock:{{ $('Webhook - Receber Mensagem').item.json.body.data.key.remoteJid }}",
        "value": "true"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2928,
        32
      ],
      "id": "f8af4e1b-465a-4be7-b8c7-10c60e459e5f",
      "name": "Redis - Criar Lock",
      "credentials": {
        "redis": {
          "id": "trFJWRaDpUKn5nf8",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=msgTemp:{{ $('Webhook - Receber Mensagem').item.json.body.data.key.remoteJid }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -960,
        16
      ],
      "id": "fb3e5609-a5b9-484b-936b-f372c6913b49",
      "name": "Redis - Limpar Mensagens",
      "credentials": {
        "redis": {
          "id": "trFJWRaDpUKn5nf8",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=msgTemp:{{ $('Webhook - Receber Mensagem').item.json.body.data.key.remoteJid }}",
        "value": "={{ $('Set - Mensagem do Cliente').item.json.mensagemCliente }}",
        "keyType": "sets"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2928,
        240
      ],
      "id": "c463c896-591c-4554-9ff6-193c1cc815cc",
      "name": "Redis - Adicionar à Fila",
      "credentials": {
        "redis": {
          "id": "trFJWRaDpUKn5nf8",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "read-messages",
        "instanceName": "={{ $('Extrair Metadata da Mensagem').item.json.msgIntance }}",
        "remoteJid": "={{ $('Webhook - Receber Mensagem').item.json.body.data.key.remoteJid }}",
        "messageId": "={{ $('Extrair Metadata da Mensagem').item.json.msgId }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -2720,
        240
      ],
      "id": "5b44ef35-9b19-406c-b28f-7ba163cc88e5",
      "name": "Evolution - Marcar como Lida",
      "credentials": {
        "evolutionApi": {
          "id": "oCZwvvYltMxJIzmA",
          "name": "Evolution API"
        }
      }
    },
    {
      "parameters": {
        "amount": "=13"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2304,
        32
      ],
      "id": "7fc529d5-0429-4156-9882-e0c6de7ab54b",
      "name": "Wait - Aguardar Novas Mensagens",
      "webhookId": "4a72165c-6ea5-42a0-8f18-46a26e87b875"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {
          "reset": false
        }
      },
      "id": "3f6f440a-069e-4afd-b592-23f7c4329148",
      "name": "Loop - Processar Mensagens",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        -208,
        16
      ]
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Extrair Metadata da Mensagem').item.json.msgIntance }}",
        "remoteJid": "={{ $('Webhook - Receber Mensagem').item.json.body.data.key.remoteJid }}",
        "messageText": "={{ $('Set - Tempo de Digitação').item.json.output }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        560,
        0
      ],
      "id": "1dd06bc9-0922-450c-8b57-255b6c325779",
      "name": "Evolution - Enviar Mensagem",
      "credentials": {
        "evolutionApi": {
          "id": "oCZwvvYltMxJIzmA",
          "name": "Evolution API"
        }
      }
    },
    {
      "parameters": {
        "amount": "={{ $('Set - Tempo de Digitação').item.json.tempoDeDigitacao }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        368,
        0
      ],
      "id": "e05ba3cd-bf9a-4eae-b851-09b8906b29cd",
      "name": "Wait - Tempo de Digitação",
      "webhookId": "72756f2f-9251-47ac-92a5-f232bec72c04"
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "send-presence",
        "instanceName": "={{ $('Extrair Metadata da Mensagem').item.json.msgIntance }}",
        "remoteJid": "={{ $('Webhook - Receber Mensagem').item.json.body.data.key.remoteJid }}",
        "delay": "={{ Math.ceil($json.tempoDeDigitacao) * 1000 }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        192,
        0
      ],
      "id": "092a3166-b7f6-4321-908c-ef465f10d6ba",
      "name": "Evolution - Simular Digitação",
      "credentials": {
        "evolutionApi": {
          "id": "oCZwvvYltMxJIzmA",
          "name": "Evolution API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Code - Concatenar Mensagens').item.json.prompt }}",
        "options": {
          "systemMessage": "Você é um agente geral."
        }
      },
      "id": "9ad92faf-ebaf-4e87-b2c2-30aa591c7103",
      "name": "Agente IA",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -784,
        16
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp/receberMensagem",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -5328,
        240
      ],
      "id": "57a1fadc-8365-4394-b257-84d4510c5985",
      "name": "Webhook - Receber Mensagem",
      "webhookId": "6aa67c9f-e0ca-46f9-9e20-d4775d2d9737"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "=msgTemp:{{ $('Webhook - Receber Mensagem').item.json.body.data.key.remoteJid }}",
        "keyType": "sets",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2512,
        32
      ],
      "id": "763c0f9f-6e87-4b32-be65-c446fb35f4f5",
      "name": "Redis - Contar Mensagens",
      "credentials": {
        "redis": {
          "id": "trFJWRaDpUKn5nf8",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "key": "=msgTemp:{{ $('Webhook - Receber Mensagem').item.json.body.data.key.remoteJid }}",
        "keyType": "sets",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2112,
        32
      ],
      "id": "9ee148d2-7367-4f09-b8e6-04e54490ee35",
      "name": "Redis - Recontar Mensagens",
      "credentials": {
        "redis": {
          "id": "trFJWRaDpUKn5nf8",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "59715001-1a96-4fbe-be75-4430f18698d9",
              "leftValue": "={{ $('Redis - Contar Mensagens').item.json.propertyName.length }}",
              "rightValue": "={{ $('Redis - Recontar Mensagens').item.json.propertyName.length }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1696,
        32
      ],
      "id": "f8d53b17-f929-429e-92ff-71ff47b82fbd",
      "name": "IF - Nova Mensagem Recebida"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fb12848d-52c4-4bb0-a504-1aecc17bdc04",
              "name": "msgId",
              "value": "={{ $json.body.data.key.id }}",
              "type": "string"
            },
            {
              "id": "e76c89e2-c895-428a-9a7c-20891583f140",
              "name": "msgType",
              "value": "={{ $json.body.data.messageType }}",
              "type": "string"
            },
            {
              "id": "66fa098a-4f7b-4984-a2a2-a71c77ce9523",
              "name": "msgIntance",
              "value": "={{ $json.body.instance }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4912,
        224
      ],
      "id": "b23a98e9-a588-45bd-94ba-56dd6a6fcd0a",
      "name": "Extrair Metadata da Mensagem"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2efb721f-8e5d-4e81-ba29-da507e5b1dfe",
              "name": "tempoDeDigitacao",
              "value": "={{ $json.output.length * 0.015 + Math.random() * 3 }}",
              "type": "string"
            },
            {
              "id": "60488105-785d-4489-aaa1-5d39fc984750",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16,
        0
      ],
      "id": "727e8dc1-b310-4c11-a24d-8e0ed135c893",
      "name": "Set - Tempo de Digitação"
    },
    {
      "parameters": {
        "jsCode": "const results = [];\n\nfor (const item of items) {\n  const text = item.json.output || \"\";\n\n  // Normaliza quebras e marcadores parecidos\n  const normalizado = text\n    .replace(/\\[quebra\\]/gi, \"[quebrar]\")   // trata [quebra] como [quebrar]\n    .replace(/\\n+/g, \"[quebrar]\");          // transforma quebras de linha em divisores\n\n  // Divide pelos marcadores finais\n  const partes = normalizado\n    .split(\"[quebrar]\")\n    .map(p => p.trim())\n    .filter(p => p.length > 0);             // remove vazios\n\n  // Adiciona cada parte como item separado\n  for (const msg of partes) {\n    results.push({ json: { output: msg } });\n  }\n}\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        16
      ],
      "id": "a4baab5c-2251-4fd4-833b-f32ab6c0a264",
      "name": "Code - Dividir Resposta"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4b3cc961-fead-467d-9fc2-e7fee5364632",
              "leftValue": "={{ $json.body.data.key.fromMe }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5136,
        240
      ],
      "id": "cca055e7-d348-412c-b4c0-0847b76298c9",
      "name": "Filtrar Mensagens Próprias"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "text": "Descreva o que está na imagem, inclusive texto. Foque em realizar o OCR. No output comece sempre com: \"O cliente enviou uma imagem com a seguinte descrição: ...\"",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -3872,
        384
      ],
      "id": "e64231fd-66c6-4558-9a90-9e55a0e4a243",
      "name": "OpenAI - Descrever Imagem",
      "credentials": {
        "openAiApi": {
          "id": "MU6adeGic3RPMvdM",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "body.data.message.base64",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -3600,
        384
      ],
      "id": "da285499-2cf0-4a7a-998a-e3bcc5254778",
      "name": "Converter Base64 para Imagem"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook - Receber Mensagem').item.json.body.data.messageType }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a1b2c3d4-0001-0001-0001-000000000001"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook - Receber Mensagem').item.json.body.data.messageType }}",
                    "rightValue": "imageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a1b2c3d4-0002-0002-0002-000000000002"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Imagem"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -3984,
        224
      ],
      "id": "6c21107e-3a90-40df-bfdf-0a6790a91a3b",
      "name": "Switch - Processar Mídia"
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "read-messages",
        "instanceName": "={{ $('Extrair Metadata da Mensagem').item.json.msgIntance }}",
        "remoteJid": "={{ $('Webhook - Receber Mensagem').item.json.body.data.key.remoteJid }}",
        "messageId": "={{ $('Extrair Metadata da Mensagem').item.json.msgId }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -1904,
        32
      ],
      "id": "4dbbabec-8b37-4691-91a5-0361cda23a7e",
      "name": "Marcar mensagens como lidas",
      "credentials": {
        "evolutionApi": {
          "id": "oCZwvvYltMxJIzmA",
          "name": "Evolution API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Converter Base64 para Áudio": {
      "main": [
        [
          {
            "node": "OpenAI - Transcrever Áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Mensagem do Cliente": {
      "main": [
        [
          {
            "node": "Redis - Verificar Lock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch - Tipo de Mídia": {
      "main": [
        [
          {
            "node": "Evolution - Obter Mídia Base64",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set - Mensagem do Cliente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Evolution - Obter Mídia Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Modelo LLM": {
      "ai_languageModel": [
        [
          {
            "node": "Agente IA",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis - Memória do Chat": {
      "ai_memory": [
        [
          {
            "node": "Agente IA",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Redis - Verificar Lock": {
      "main": [
        [
          {
            "node": "IF - Sem Lock Ativo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Sem Lock Ativo": {
      "main": [
        [
          {
            "node": "Redis - Criar Lock",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Redis - Adicionar à Fila",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis - Armazenar Mensagem": {
      "main": [
        [
          {
            "node": "Redis - Contar Mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis - Resgatar Mensagens": {
      "main": [
        [
          {
            "node": "Code - Concatenar Mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Concatenar Mensagens": {
      "main": [
        [
          {
            "node": "Redis - Remover Lock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis - Remover Lock": {
      "main": [
        [
          {
            "node": "Redis - Limpar Mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis - Criar Lock": {
      "main": [
        [
          {
            "node": "Redis - Armazenar Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis - Limpar Mensagens": {
      "main": [
        [
          {
            "node": "Agente IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis - Adicionar à Fila": {
      "main": [
        [
          {
            "node": "Evolution - Marcar como Lida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait - Aguardar Novas Mensagens": {
      "main": [
        [
          {
            "node": "Redis - Recontar Mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop - Processar Mensagens": {
      "main": [
        [
          {
            "node": "Set - Tempo de Digitação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution - Enviar Mensagem": {
      "main": [
        [
          {
            "node": "Loop - Processar Mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait - Tempo de Digitação": {
      "main": [
        [
          {
            "node": "Evolution - Enviar Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution - Simular Digitação": {
      "main": [
        [
          {
            "node": "Wait - Tempo de Digitação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Receber Mensagem": {
      "main": [
        [
          {
            "node": "Filtrar Mensagens Próprias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis - Contar Mensagens": {
      "main": [
        [
          {
            "node": "Wait - Aguardar Novas Mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis - Recontar Mensagens": {
      "main": [
        [
          {
            "node": "Marcar mensagens como lidas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Nova Mensagem Recebida": {
      "main": [
        [
          {
            "node": "Redis - Resgatar Mensagens",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Redis - Contar Mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Metadata da Mensagem": {
      "main": [
        [
          {
            "node": "Switch - Tipo de Mídia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Tempo de Digitação": {
      "main": [
        [
          {
            "node": "Evolution - Simular Digitação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Dividir Resposta": {
      "main": [
        [
          {
            "node": "Loop - Processar Mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Mensagens Próprias": {
      "main": [
        [
          {
            "node": "Extrair Metadata da Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Descrever Imagem": {
      "main": [
        [
          {
            "node": "Set - Mensagem do Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converter Base64 para Imagem": {
      "main": [
        [
          {
            "node": "OpenAI - Descrever Imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Transcrever Áudio": {
      "main": [
        [
          {
            "node": "Set - Mensagem do Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente IA": {
      "main": [
        [
          {
            "node": "Code - Dividir Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution - Obter Mídia Base64": {
      "main": [
        [
          {
            "node": "Set - Dados da Mídia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Dados da Mídia": {
      "main": [
        [
          {
            "node": "Switch - Processar Mídia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch - Processar Mídia": {
      "main": [
        [
          {
            "node": "Converter Base64 para Áudio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Converter Base64 para Imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar mensagens como lidas": {
      "main": [
        [
          {
            "node": "IF - Nova Mensagem Recebida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "1e43d494-b8e7-4a05-8cba-4cafcae31334",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "edafa2939ef0d24834277c16d71b3d17bd70d4d94250d31dd30f96ec6fdb6a85"
  },
  "id": "0eiKDrSz7imYfhw3",
  "tags": []
}